<div
  class="offcanvas offcanvas-end text-bg-dark"
  tabindex="-1"
  id="offcanvasDarkNavbar"
  aria-labelledby="offcanvasDarkNavbarLabel"
>
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Coffee Family</h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li>
        <a class="dropdown-item" routerLink="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ofertas">Ofertas</a> 
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Más
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/contacto">Contacto</a></li>
          <li><a class="dropdown-item" routerLink="/nosotros">Nosotros</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Otra cosa</a></li>
        </ul>
      </li>
    </ul>
    <form class="d-flex mt-3" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar"
        aria-label="Buscar"
      />
      <button class="btn btn-success" type="submit">Buscar</button>
    </form>
  </div>
</div>
