.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    margin: 10px;
    transition: box-shadow 0.2s ease;
    width: 350px;
    height: 400px;
    cursor: pointer;
    margin: 20px auto;
    
  }
  
  .product-card:hover {
    box-shadow: 3px 5px 10px var(--gray);
    
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .product-name {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .product-description {
    font-size: 1rem;
    color: #666;
  }
  
  .product-price {
    font-size: 1.2rem;
    color: #dedede;
  }

  

  