/* @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap'); */

.home-container {
    position: relative;
    width: 100vw;
    height: auto; /* Ajusta según sea necesario */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    
    .video-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }


    .video {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        top: 0;
        z-index: -1; 
        margin-bottom: 50px;
        

    }

        
    

    .overlay {
            position: relative;
            text-align: center;  
            background-color: rgba(0, 0, 0, 0.5); 
            color: var(--gray);
            padding: 80px; 
            border-radius: 10px; 
            z-index: 1; 
        

            .overlay-title {
                font-size: 3.5rem; 
                font-family: 'Ms Madi', cursive;
            }
        }

    .side-hero-content {
        padding: 20px; 
        text-align: center; 
        background-color: var(--background-dark);
    }

    .beside-hero-content {
        display: inline-block;
        padding: 20px; 
        min-width: 80%;
        width: auto;
        text-align: center; 
        background-color: var(--background-dark);

        img {
            height: auto; 
            border-radius: 10px; 
        }
    }


}
