
<div class="home-container col">
    <div class="video-container">
        <iframe 
            class="video"
            src="https://player.vimeo.com/video/436061684?muted=1&background=1" 
            frameborder="0" 
            allow="fullscreen" 
            allowfullscreen>
        </iframe>
        
    </div>

    <div class="content-container">
        <div class="overlay">
            <h1 class="overlay-title">Bienvenidos a Family Coffee</h1>
            <p class="overlay-p">Más que un café, una pasión por la excelencia en cada taza.</p>
        </div>

        <div class="side-hero-content">
            <h2>¿Qué es Coffee Family?</h2>
            <p>Un espacio donde la dedicación y el amor por el café se unen en cada proceso, desde la semilla hasta el aroma que llena tu hogar.</p>
            <p>Nuestro compromiso es ofrecerte un café artesanal, de origen, que respeta el medio ambiente y valora el trabajo de nuestros agricultores.</p>
        </div>

        <div class="beside-hero-content">
            <div class="image-and-text">
                <img src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="Proceso de producción de café" 
                    class="col-12 col-md-6 col-sm-4">
                
                <div class="productionCoffeTexts col-12 col-md-6 col-sm-4 d-flex justify-content-center align-items-center">
                    <p class="text-center">En Coffee Family nos dedicamos a la producción de café de alta calidad, cuidando cada etapa del proceso, desde la siembra hasta la taza.</p>
                    <p class="text-center">Contamos con un equipo de expertos que supervisan cada etapa, garantizando que el producto final sea un café extraordinario, con el sabor y el aroma que mereces.</p>
                    <a class="btn-ver-productos" routerlink="/productos">Ver productos</a>
                </div>
            </div>
        </div>

        
        <div class="values-section">
            <h2>Nuestros Valores</h2>
            <p>En Coffee Family, valoramos la transparencia, la sostenibilidad y el compromiso con la calidad. Trabajamos codo a codo con agricultores locales para asegurar un café ético y de primera calidad.</p>
            <img src="https://images.unsplash.com/photo-1525088553748-01d6e210e00b?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Agricultor trabajando en el cultivo de café" 
                class="col-12 col-md-6 col-sm-4">
        </div>
    </div>

    <div class="cards-section d-flex">
        <!-- Publicidad Family Coffee -->
        <div class="d-flex card">
            <img srcset="https://scontent.fyai5-1.fna.fbcdn.net/v/t39.30808-6/440478217_122094970970311876_8128582087284028562_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=X7gg7D33WxUQ7kNvgHcpRYF&_nc_zt=23&_nc_ht=scontent.fyai5-1.fna&_nc_gid=Ak0FNHzBkzTspsV56F-Yikf&oh=00_AYAjO7kYKxGTCsc6KRG-HtTUGyWsUHrk7Svu4vh7_O7bSA&oe=67316624" alt="family-coffee-logo">
            <div>
                <h2>Contáctanos</h2>
                <p>instagram</p>
                <p>facebook</p>
                <p>whatsapp</p>
            </div>
        </div>
        
        <!-- Banner Tostaduria de cafe -->
        <div class="d-flex card">
            <img src="https://scontent.fyai5-1.fna.fbcdn.net/v/t39.30808-6/440957000_122094970058311876_2293518588315397574_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=m4x5WU9Sfn8Q7kNvgHAfXuU&_nc_zt=23&_nc_ht=scontent.fyai5-1.fna&_nc_gid=AGXOx9XNTYGd9jj0Xh1pHhs&oh=00_AYDKWimWz0keoTesdd7y3IOluhhEykO6VOqWcVAUb1lfMg&oe=673167CD" alt="tostaduria-cafe-banner">
            <div>
                <h2>Tostaduría de Café</h2>
                <p>Visita nuestra tienda</p>
                <p>Conoce nuestros productos</p>
                <p>Disfruta del mejor café</p>
            </div>
        </div>
    
        <!-- Producto Envasado -->
        <div class="d-flex card">
            <img src="https://scontent.fyai5-1.fna.fbcdn.net/v/t39.30808-6/452755463_17858225286209352_6424045539980993968_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_ohc=DeWWy6TdengQ7kNvgHgbGQB&_nc_zt=23&_nc_ht=scontent.fyai5-1.fna&_nc_gid=ApH84eoB9v8BV0zzFn6sW6l&oh=00_AYAFbF029GM9Z6yGaclzDtx5dE92jIU9VSpDIAg_4QZcFw&oe=6731886D" alt="producto-envasado">
            <div>
                <h2>Producto Envasado</h2>
                <p>Compra online</p>
                <p>Calidad garantizada</p>
                <p>Recibe tu pedido en casa</p>
            </div>
        </div>
    
        <!-- Clientes satisfechos -->
        <div class="d-flex card">
            <img src="https://scontent.fyai5-1.fna.fbcdn.net/v/t39.30808-6/438098998_17847446616209352_6521845750775370307_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=sfnyUvzrF_QQ7kNvgHYyVIg&_nc_zt=23&_nc_ht=scontent.fyai5-1.fna&_nc_gid=AknzviikE1f0SwTjYXSdtUJ&oh=00_AYCrvY_5GMTLZ71n4yblI5LyXctKC-Zbm1vMnYvzYPGGoA&oe=67316DFE" alt="clientes-satisfechos">
            <div>
                <h2>Clientes Satisfechos</h2>
                <p>Lo que dicen nuestros clientes</p>
                <p>Excelentes reseñas</p>
                <p>Gracias por confiar en nosotros</p>
            </div>
        </div>
    </div>
    
    
    
</div>
