<div class="home-container col">
    <div class="video-container">
        <iframe 
        class="video"
        src="https://player.vimeo.com/video/436061684?muted=1&background=1" 
        frameborder="0" 
        allow="fullscreen" 
        allowfullscreen>
        </iframe>
    </div>
    
    <div class="overlay">
        <h1 class="overlay-title">{{title}}</h1>
        <p class="overlay-p">{{subtitle}}</p>
    </div>
    <div class="side-hero-content">
        <h2>¿Qué es Coffee Family?</h2>
        <p>Un lugar en donde ponemos dedicación en cada proceso.</p>
    </div>
    <div class="beside-hero-content">
        <img src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="working-on-coffe-production-image" 
        class="col-12 col-md-6 col-sm-4">
        
        <!-- <div class="productionCoffeTexts col-12 col-md-6 col-sm-4">
            <p>En Coffee Family nos dedicamos a la producción de café de alta calidad, desde la siembra hasta la taza.</p>
            <p>Contamos con un equipo de expertos en cada etapa del proceso, desde la siembra, cosecha, tostado y molido.</p>
        </div> -->
    </div>
</div>
