.home-container {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    z-index: -1;
}

.content-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: relative;
    text-align: center;
    color: var(--gray);
    padding: 40px;
    border-radius: 10px;
    z-index: 1;
}

.overlay-title {
    font-size: 3.5rem;
    font-family: 'Ms Madi', cursive;
    margin-bottom: 10px;
}

.overlay-p {
    font-size: 1.5rem;
}

.side-hero-content {
    padding: 20px;
    text-align: center;
    color: var(--gray);
    margin-top: 40px;

    
}

.beside-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    color: var(--gray);
}

.image-and-text {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.image-and-text img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    height: auto;
    
    
}

.overlay, .side-hero-content, .beside-hero-content {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

.productionCoffeTexts {
    max-width: 500px;
    text-align: center;
    font-size: 1.1rem;
    flex-direction: column;
    display: flex
}

.btn-ver-productos {
    background: linear-gradient(120deg, var(--background-dark), var(--coffee-light), var(--background-dark));
    background-size: 1000% 1000%; /* Aumenta el tamaño del gradiente para un movimiento más suave */
    color: whitesmoke;
    box-shadow: 2px 3px 10px var(--gray);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    animation: rotate-gradient 4s linear infinite;
    text-decoration: none;
}

.values-section {
    padding: 20px;
    text-align: center;
    color: var(--gray);
    margin-top: 40px;
}

.values-section img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 10px;
    
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding: 20px;
    border-radius: 20px;
}

.main-content {
    background: linear-gradient(150deg, var(--background-dark), var(--coffee-brown), var(--background-dark));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(120deg, var(--background-dark), var(--coffee-light));
}

.cards-section img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

hr {
    background-color: var(--green);
    height: 3px;
    width: 80vw;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate-gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    
}
