.navbar {
    background: linear-gradient(var(--background-coffe), var(--gray));
    opacity: .9;
    border-radius: 40px; 
    box-shadow: 2px 3px 150px var(--coffee-light);

    .navbar-toggler-icon {
        color: var(--coffee-light);
    }

    .navbar-brand {
        color: var(--coffee-light);
    }

    .offcanvas-title {
        color: var(--coffee-light);
    }

    .btn {
        background-color: var(--coffee-light);
        color: var(--background-coffe);
        border: none;
    }

    


}

#progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px; 
    z-index: 100;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--background-dark), var(--coffee-light));
    /* background-color: var(--coffee-light); */
    animation: progress-grow auto linear;
    animation-timeline: scroll(root);
}

@keyframes progress-grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}