/* @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap'); */

.home-container {
    position: relative;
    width: 100vw;
    height: 300vh; /* Ajusta según sea necesario */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    .hero-container {
        position: relative; /* Necesario para el posicionamiento absoluto del video */
        width: 100%; 
        height: 100vh; /* O cualquier altura deseada */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .video {
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%; 
            height: 100%; 
            object-fit: cover;
            z-index: 0; 
        }

        .overlay {
            position: relative;
            text-align: center;  
            background-color: rgba(0, 0, 0, 0.5); 
            color: var(--gray);
            padding: 80px; 
            border-radius: 10px; 
            z-index: 1; 

            .overlay-title {
                font-size: 3.5rem; 
                font-family: 'Ms Madi', cursive;
            }
        }
    }

    .side-hero-content {
        padding: 20px; 
        margin-top: 140px;
        text-align: center; 
        background-color: var(--background-dark);
    }

    .beside-hero-content {
        display: inline-block;
        padding: 20px; 
        margin-top: 140px;
        text-align: center; 
        background-color: var(--background-dark);

        img {
            width: 50%; 
            height: auto; 
            border-radius: 10px; 
        }
    }


}
