@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.home-container {
    position: relative;
    width: 100vw;
    height: 300vh;
    overflow: hidden;
    display: flex;
    
    .hero-container {
        .hero-image {
            width: 100%; 
            height: 100%; 
            object-fit: cover;
        }
        
        .overlay {
            height: 100; 
            position: absolute;
            top: 17%; 
            text-align: center;  
            background-color: var(--background-dark-coffe-transparent); 
            color: var(--gray);
            padding: 20px; 
            border-radius: 10px; 

            .overlay-title {
                font-size: 2.5rem; 
                font-family: 'Ms Madi', cursive;
            }
        }
    }

    .side-hero-content {
        padding: 20px; 
        margin: auto;
    
        text-align: center; 
        background-color: var(--background-dark);
    }

    .video {
        left: 0;
        width: 60vw;
        height: 60vh;
        margin: 100px  100px;
        object-fit: cover;
        z-index: -1; 
    }

    
}


