<div class="home-container col">
    <div class="hero-container">
        <iframe 
            class="video "
            src="https://player.vimeo.com/video/436061684?muted=1&background=1" 
            frameborder="0" 
            allow="fullscreen" 
            allowfullscreen>
        </iframe>
        <div class="overlay">
            <h1 class="overlay-title">{{title}}</h1>
            <p class="overlay-p">{{subtitle}}</p>
        </div>
    </div>
    <div class="side-hero-content row">
        <h2>¿Qué es Coffee Family?</h2>
        <p>Un lugar en donde ponemos dedicación en cada proceso.</p>
    </div>
    <div class="beside-hero-content row">
        <img src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque optio facilis amet voluptas nesciunt dolorem ab culpa a consequuntur placeat ducimus, sunt ex modi sit. Quod explicabo unde at?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rem, suscipit ut ipsa impedit dignissimos et beatae? Enim minima nisi excepturi repellat, ut tempora illum fugit? Animi corporis optio consectetur!</p>
</div>
