<div class="home-container">
    <div class="hero-container">
        
        <iframe 
            class="video"
            src="https://player.vimeo.com/video/436061684?autoplay=1&muted=1&loop=1&background=1" 
            frameborder="0" 
            allow="autoplay; fullscreen" 
            allowfullscreen>
        </iframe>
        <div class="overlay">
            <h1>{{title}}</h1>
            <p>{{subtitle}}</p>
        </div>
    </div>
    <div class="home-content ">
        <h2>¿Qué es Coffee Family?</h2>
        <p>Un lugar en donde ponemos dedicación en cada proceso.</p>
    </div>
</div>