.products-page-container {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .products-container {
        position: relative;
        width: 100%;
        height: auto; /* Cambia a auto si no necesitas una altura específica */
        display: flex;
        justify-content: center; /* Centra las tarjetas horizontalmente */
        align-items: center; /* Alinea tarjetas desde la parte superior */
    }

    .product-card {
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }
    
    .title {
        font-size: 3.5rem;
        font-family: 'Ms Madi', cursive;
        text-align: center; 
    }
}

@keyframes reveal {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }}
