.navbar {
    background: linear-gradient(var(--background-coffe), var(--gray));
    opacity: .9;
    border-radius: 40px; 

    .navbar-toggler-icon {
        color: var(--coffee-light);
    }

    .navbar-brand {
        color: var(--coffee-light);
    }

    .offcanvas-title {
        color: var(--coffee-light);
    }

    .btn {
        background-color: var(--coffee-light);
        color: var(--background-coffe);
        border: none;
    }

    #progress {
        position: fixed;
        border-radius: 10px;
        width: 0%;
        top: 0;
        height: 3px;
        background-color: var(--coffee-light);
        animation: progress-grow auto linear;
        animation-timeline: scroll(root);
    }


}

@keyframes progress-grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}